{erl_opts, [
            warnings_as_errors
            ,warn_export_all
           ]
}.
{cover_enabled, true}.
{deps, [
        {lager, "(2.1|2.0|1.0|1.2).*", {git, "git://github.com/basho/lager", {branch, "master"}}},
        {jsx, "1.3.*", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v1.3.3"}}}
       ]
}.
